h1, h2 {
color: white;
}

body {
    background: url(https://indastro.ru/upload/iblock/fdc/fdc5bb117242a170a7cdd2125a847e98.jpg);
    background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.card-body {
background-color: rgb(30, 30, 30);
}
.card my-4 {
background-color: rgb(30, 30, 30);
}
div {
color: white;}

nav {
color:red;
}