{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="static/index.css">
<h1>Здравствуйте, {{ current_user.username }}!</h1>
<div class="card my-4">
    <div class="card-body">
        <form action="{{ url_for('main.message') }}" method="post">
            {{ message_form.hidden_tag() }}
            <div class="form-group">
                {{ message_form.content.label(class="form-control-label") }}
                {{ message_form.content(class="form-control") }}
            </div>
            <div class="form-group">
                {{ message_form.submit(class="btn btn-primary") }}
            </div>
        </form>
        <form action="{{ url_for('main.upload') }}" method="post" enctype="multipart/form-data">
            {{ upload_form.hidden_tag() }}
            <div class="form-group">
                {{ upload_form.file.label(class="form-control-label") }}
                {{ upload_form.file(class="form-control-file") }}
            </div>
            <div class="form-group">
                {{ upload_form.submit(class="btn btn-secondary") }}
            </div>
        </form>
    </div>
</div>
<h2>Сообщения</h2>
<div class="card my-4">
    <div class="card-body">
        {% for message in messages %}
        <div class="media mb-3">
            <img class="mr-3 rounded-circle" src="{{ url_for('static', filename='profile_pics/' ~ message.author.image_file) }}" alt="{{ message.author.username }}" width="50" height="50">
            <div class="media-body">
                <h5 class="mt-0">{{ message.author.username }}</h5>
                {% if message.content %}
                    <p>{{ message.content }}</p>
                {% elif message.image_file %}
                    <img src="{{ url_for('static', filename='profile_pics/' ~ message.image_file) }}" class="img-fluid">
                {% endif %}
                <small class="text-muted">{{ message.date_posted.strftime('%Y-%m-%d %H:%M:%S') }}</small>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
